#mainlogo {
	position: absolute;
	width: 700px;
	height: 400px;
	left: calc(50% - 350px);
	top: calc(45% - 200px);
	cursor: default;

	transform-style: preserve-3d;


	h1 {
		color: #fff;
		font-family: 'Montserrat_Extra_Bold_Italic';
		margin: 0;
		font-size: 15em;
		text-align: center;

		transform: translateZ(50px);
	}

	h2 {
		color: #fff;
		font-family: 'Montserrat_Extra_Bold_Italic';
		margin: 0;
		font-size: 4em;
		text-align: center;
	}
}