.about-sections {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    .section-reverse {
        flex-direction: row-reverse;
    }

    .section-direction {
        flex-flow: row wrap;
    }

    .about-padding-bottom {
        margin-bottom: 250px;
    }

    .about-section-year {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1000px;
        transform-style: preserve-3d;
    
        .section-text {
            width: 60%;
            z-index: 1;
            padding: 0 20px;
            display: block;
            margin-top: 10px;

            .text-title {
                font-size: 4em;
                text-align: left;
                margin-bottom: 0;
                font-family: "Montserrat_ExtraBold_Italic";
            }
            .text-body {
                text-align: left;
                font-size: 1.2em;
            }
            .margin-left {
                margin-left: 50px;
            }
        }

        .year-number {
            font-size: 30em;
            font-family: "Montserrat_ExtraBold_Italic";
            display: block;
            line-height: 0.75em;
            transform: translateZ(50px);
        }
    }

    .about-bottom-text {
        font-size: 1.2em;
        text-align: center;
        width: 80%;
        padding: 100px 0 50px 0;

        a {
            color: white;
            position: relative;
            margin-bottom: 0;
            text-decoration: none;

            &:before, &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 5px;
            top: 50%;
            margin-top: -0.5px;
            background: #293699; //kleur lijntje
            }

            &:before {
                left: -5px;
            }

            &:after {
                right: -5px;
                transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
            }
            
            &:hover:before {
                width: calc(100% + 10px);
                transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            }
            
            &:hover:after {
                background: transparent;
                width: calc(100% + 10px);
                transition: 0s;
            }
        }
        /*
        a:hover {
            background-color: #293699;
        }*/
    }
}

@media screen and (max-width: 1200px) {
    .about-sections {
        .about-section-year {
            width: 900px;

            .year-number {
                font-size: 20em;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .about-sections {
        .about-section-year {
            width: 600px;

            .section-text {
                .text-title {
                    font-size: 3em;
                }
            }

            .year-number {
                font-size: 20em;
            }
        }

        .about-padding-bottom {
            margin-bottom: 150px;
        }
    }
}

@media screen and (max-width: 600px) {
    .about-sections {
        .about-section-year {
            width: 100%;

            .section-text {
                .text-title {
                    font-size: 2em;
                }
                width: 100%;
            }

            .year-number {
                display: none;
            }
        }

        .about-padding-bottom {
            margin-bottom: 100px;
        }
    }
}