.footer {
	padding: 150px 0 100px 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	.footer-heading {
		color: #fff;
		font-family: 'Montserrat_ExtraBold_Italic';
		padding-bottom: 60px;
		text-align: center;
		z-index: 1;

		h1 {
			font-size: 7em;
			margin: 0;
		}
		h2 {
			font-size: 1.4em;
			margin: 0;
		}
	}

	.footer-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	
	    .footer-link {
	    	padding: 40px 0;
	        color: white;
	        position: relative;
	        margin-bottom: 0;
	        text-decoration: none;
	        text-align: center;

	        &:hover {
				cursor: pointer;
				opacity: 0.8;
	        }
	    }
	}
}

@media screen and (min-width: 1024px) {
    .footer-link {
        width: 256px;
    }
}

@media screen and (min-width: 600px) {
    .footer-links {
        flex-direction: row;
    }
}

@media screen and (max-width: 1024px) {
	.footer {
		.footer-links {
			flex-direction: column;

		    .footer-link {
		        width: 100%;
		    }
		}
	}
}

@media screen and (max-width: 600px) {
    .footer {
		.footer-links {
			flex-direction: column;

	        .footer-link {
		        width: 100%;
		    }
	    }
	}
}