#mainlogo {
	position: absolute;
	width: 700px;
	height: 400px;
	left: calc(50% - 350px);
	top: calc(45% - 200px);
	cursor: default;

	transition: 0.5s cubic-bezier(0.1, 0.1, 0.15, 1);

	#mainlogo_inner {
		transform-style: preserve-3d;
		& > div {
			position: relative;
		}

		h1 {
			color: #fff;
			font-family: 'Montserrat_ExtraBold_Italic';
			margin: 0;
			font-size: 15em;
			text-align: center;

			transform: translateZ(50px);
			animation: logo 0.1s both;
			animation-delay: 3s;
		}

		h2 {
			color: #fff;
			font-family: 'Montserrat_ExtraBold_Italic';
			margin: 0;
			margin-right: 1.8em;
			font-size: 2.8em;
			text-align: center;
			animation: logo 0.1s both;
			animation-delay: 3.2s;
		}

		.swipebox {
			background-color: #293699;
			position: absolute;
			top: 0;
			left: 0;
			right: 100%;
			bottom: 0;
			z-index: 1;
			transform: translateZ(50px);
		}

		.swipebox1 {
			animation: boxSwipe 1s both;
			animation-delay: 2.5s;
		}

		.swipebox2 {
			animation: boxSwipe 1s both;
			animation-delay: 2.7s;
		}
	}
}


@keyframes boxSwipe {
	0% { left: 0; right: 100%; }
	50% { left: 0; right: 0; }
	100% { left: 100%; right: 0; }
}

@keyframes logo {
	0% { visibility: hidden; }
	100% { visibility: visible; }
}


.glitch-window{
	position: absolute;
	top: 0px;
	left: -4px;
	width: 100%;
	text-shadow: 4px 0 black, -4px 0 #293699;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;

	transform: translateZ(50px);
}

@keyframes crt-me {
	0% {
        clip: rect(50px, 9999px, 180px, 0)
    }
    10% {
        clip: rect(80px, 9999px, 150px, 0)
    }
    20% {
        clip: rect(60px, 9999px, 70px, 0)
    }
    30% {
        clip: rect(70px, 9999px, 70px, 0)
    }
    40% {
        clip: rect(80px, 9999px, 80px, 0)
    }
    50% {
        clip: rect(90px, 9999px, 110px, 0)
    }
    60% {
        clip: rect(100px, 9999px, 120px, 0)
    }
    70% {
        clip: rect(300px, 9999px, 300px, 0)
    }
    80% {
        clip: rect(150px, 9999px, 220px, 0)
    }
    90% {
        clip: rect(180px, 9999px, 230px, 0)
    }
    100% {
        clip: rect(100px, 9999px, 160px, 0)
    }
}