body {
  margin: 0;
}
.all-modals {
	position: absolute;
	top: 0;
	width: 100%;
}

.modal-box {
	
}

.modal {
  height: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 3; 
  display: none;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.8);
  align-content: flex-end;

	.modal-image-box {
		width: 675px;
		height: 450px;
		background-size: cover;
		position: relative;
		background-color: black;
		background-position: 0% 100%;

		.image_btns {
			display: flex;
			justify-content: center;
			flex-flow: row nowrap;
			position: absolute;
			bottom: 0;
			margin-bottom: 20px;
			width: 100%;

			.circle {
				width: 15px;
				height: 15px;
				border: 2px solid white;
				border-radius: 50px;
				margin: 0 5px;
				cursor: pointer;
			}
			.circle_active {
				background-color: white;
			}
		}
	}
	.modal-text-box {
		overflow-y: scroll;
		width: 675px;
		background-color: white;
		color: black;
		position: relative;

		.cancel_btn {
			width: 30px;
			position: absolute;
			right: 0;
			margin-top: 15px;
			margin-right: 15px;
			cursor: pointer;
		}

		.modal-text {
			display: flex;
			flex-direction: column;
			padding: 45px 15%;

			.modal-title {
				font-family: "Montserrat_ExtraBold_Italic";
			}
		}
	}
}


@media screen and (max-width: 992px) {
  .modal-image-box {
    width: 68%;
  }
  .modal-text-box {
    width: 68%;
  }
}


@media screen and (max-width: 1300px) {
  .modal {
    top: 50%;
    padding-bottom: 10%;
  }
  .modal-image-box {
  	width: 80% !important;
  	height: 35% !important;
  	background-size: cover;
  }
  .modal-text-box {
  	width: 80% !important;
  	height: 45%;
  }
}

@media screen and (min-width: 1300px) {
  .modal {
  	top: 50%;
  	/*
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;*/

    .modal-text-box {
	    width: 600px;
	    height: 450px;
  	}
  }
}