.page_nav {
    width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	
		.nav-link {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				padding: 40px 0;
				color: white;
				position: relative;
				margin-bottom: 0;
				text-decoration: none;
                text-align: center;
                font-size: 1.3em;
				
				&:before, &:after {
					content: '';
					position: absolute;
					width: 0%;
					height: 5px;
					top: 50%;
					margin-top: -0.5px;
					background: #293699; //kleur lijntje
				}
				
				&:before {
					left: -5px;
				}

				&:after {
					right: -5px;
					transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
				}
				
				&:hover:before {
					width: calc(100% + 10px);
					transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
				}
				
				&:hover:after {
					background: transparent;
					width: calc(100% + 10px);
					transition: 0s;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
    .nav-link {
        width: 256px;
    }
}

@media screen and (min-width: 600px) {
    .nav-links {
        flex-direction: row;
    }
}

@media screen and (max-width: 1024px) {
	nav {
		.nav-links {
			flex-direction: column;

		    .nav-link {
		        width: 100%;
		    }
		}
	}
}

@media screen and (max-width: 600px) {
    nav {
		.nav-links {
			flex-direction: column;

	        .nav-link {
		        width: 100%;
		    }
	    }
	}
}