.pointer {
    cursor: pointer;
}

.filter-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;

    .filter-title {
        user-select: none;
        transform: skewX(-10deg);
        -o-transform: skewX(-10deg);
       -moz-transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);
        padding: 10px;
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        margin: 15px;
    }
    
    .filter-button {
        margin: 10px;
        opacity: 0.5;
        cursor: pointer;
        user-select: none;
        transform: skewX(-10deg);
        -o-transform: skewX(-10deg);
       -moz-transform: skewX(-10deg);
        -webkit-transform: skewX(-10deg);
        background-color: #303030;
        padding: 10px 15px;
    }
    .filter-button.setfilter {
        opacity: 0.99;
    }
}

.showcase-element {
    display: flex;
    flex-flow: column wrap;
    padding: 50px 0;
    transform-style: preserve-3d;

    .showcase-element-img {
        max-width: 640px;
    }

    .showcase-text {
        margin-top: -72px;

        .h2-3em {
            font-size: 3em;
        }

        h2 {
            display: inline-block;
            font-family: "Montserrat_ExtraBold_Italic";
            text-shadow: 4px 4px 4px #464646;
            position: relative;
            margin-bottom: 0;

            &:before, &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 10px;
                top: 50%;
                margin-top: -0.5px;
                background: #293699; //kleur lijntje
            }

            &:before {
                left: -20px;
            }

            &:after {
                right: -20px;
                transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
            }
            
            &:hover:before {
                width: calc(100% + 40px);
                transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            }
            
            &:hover:after {
                background: transparent;
                width: calc(100% + 40px);
                transition: 0s;
            }
        }

        .tag-box {
            display: inline-block;
            margin-left: 20px;

            .tag {
                padding: 0 10px;
            }
        }
    }
}

.showcase-element-left {
    align-items: flex-start;
}

.showcase-element-right {
    align-items: flex-end;
}

.showcase-element-text-left {
    bottom: 200px;
    left: -55%;
    transform: translateZ(125px); 
    text-align: right;
}

.showcase-element-text-right {
    bottom: 200px;
    right: -55%;
    transform: translateZ(125px); 
}

@media only screen and (min-width: 1200px) {
    .showcase-element {
        width: 60%;

        .showcase-text {
             width: 60%;
        }

        h2 {
        font-size: 4em;
        }
        p {
            font-size: 1.5em;
        }
        .h2-profiles {
             font-size: 3em;
        }
    }
}

@media only screen and (min-width: 900px) {
    .showcase-element-text-left {
        position: relative;
    }
    .showcase-element-text-right {
        position: relative;
    }
    .showcase-text {
         width: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    .showcase-element {

        h2 {
            font-size: 3.5em;
        }
        p {
            font-size: 1.3em;
        }
        .h2-profiles {
             font-size: 2.5em;
        }
    }
}

@media only screen and (max-width: 900px) {
    .showcase-element {
        width: 98%;
        border-bottom: 3px solid rgba($color: #282828, $alpha: 0.9);
        margin: 20px 1% 30px 1%;
    
        .showcase-element-img {
            z-index: 3;
            width: 80%;
            margin: 0 auto;
        }
        .showcase-element-text-left {
            left: 0%;
        }
        .showcase-element-text-right {
            right: 0%;
        }
        .showcase-text {
            padding-top: 20px;
            text-align: center;
            margin: 0 auto;
            display: block;
            margin-top: 0;
            width: 80%;

            h2 {
                font-size: 3em;
            }
            p {
                text-align: center;
                font-size: 1.1em;
            }
            .h2-profiles {
                font-size: 2em;
            }
            .tag-box {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-left: 0 !important;
                .tag {
                    text-align: center;
                }
            }
        }
    }
}