.showcase-element {
    display: flex;
    width: 60%;
    flex-flow: column wrap;
    margin: 50px 0;
    transform-style: preserve-3d;
    cursor: pointer;

    h2 {
        font-family: "Montserrat_ExtraBold_Italic";
        font-size: 4em;
        text-shadow: 4px 4px 4px #464646;
        position: relative;
        margin-bottom: 0;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 10px;
            top: 50%;
            margin-top: -0.5px;
            background: #293699; //kleur lijntje
        }

        &:before {
            left: -20px;
        }

        &:after {
            right: -20px;
            transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        
        &:hover:before {
            width: calc(100% + 40px);
            transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        
        &:hover:after {
            background: transparent;
            width: calc(100% + 40px);
            transition: 0s;
        }
    }

    p {
        font-size: 1.5em;
    }
}

.showcase-element-left {
	align-items: flex-start;
}

.showcase-element-right {
	align-items: flex-end;
}

.showcase-element-text-left {
	position: relative;
    bottom: 100px;
    left: -600px;
    transform: translateZ(125px); /* 125px zodat img niet over text komt bij tilt */
}

.showcase-element-text-right {
	position: relative;
    bottom: 100px;
    left: 600px;
    transform: translateZ(125px); /* 125px zodat img niet over text komt bij tilt */
    max-width: 50%;
    transition: transform 600ms ease-in-out 0s;
}

.showcase-element-background-right {
    display: inline;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50px;
    right: -15%;
    transform: translateZ(-125px); /* 125px zodat img niet onder background komt bij tilt */
    background-color: rgba($color: #282828, $alpha: 0.75);
}

.showcase-element-background-left {
    display: inline;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: -15%;
    transform: translateZ(-125px); /* 125px zodat img niet onder background komt bij tilt */
    background-color: rgba($color: #282828, $alpha: 0.75);
}