.subpage_header {
    position: relative;
	text-align: center;
    
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    h1 {
        font-family: "Montserrat_ExtraBold_Italic";
        font-size: 10em;
        
        margin: 0 auto;
        overflow: hidden;
        border-right: .15em solid #293699;
        white-space: nowrap;
        
       
        animation: 
        typing 1.5s steps(8, end) both,
        blink-caret .9s step-end infinite;
        animation-delay: 1.2s; 
    }
}


@keyframes typing {
    from { width: 0 }
    to { width: 900px }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #293699; }
}
